cloud_id                 = ""
folder_id                = ""
zone                     = "ru-central1-a"
image_id                 = ""
public_key_path          = ""
private_key_path         = ""
subnet_id                = ""
service_account_key_file = "key.json"
instance_count           = "2"
